{% extends "layout.html" %}

{% block body %}
{% if filename == undefined %}
<div class="form-group">
    <form method="POST" enctype="multipart/form-data" action="{{ url_for('index') }}">
        <input type="file" class="form-control-file" name="photo">
        <br>
        <input type="submit" class="btn btn-primary">
    </form>
</div>

{% else %}
<div>
    <img class="img-responsive" id="photo" src="{{filename}}">
    <br>
    <label class="radio-inline"><input type="radio" name="optradio" id="bright" onclick="if(this.checked){bright()}">Осветление</label>
    <label class="radio-inline"><input type="radio" name="optradio" id="dark" onclick="if(this.checked){dark()}">Затемнение</label>
    <label class="radio-inline"><input type="radio" name="optradio" id="neg" onclick="if(this.checked){neg()}">Негатив</label>
    <label class="radio-inline"><input type="radio" name="optradio" id="wb" onclick="if(this.checked){wb()}">Черно-Белое</label>
    <label class="radio-inline"><input type="radio" name="optradio" id="gs" onclick="if(this.checked){gs()}">Оттенки
        Серого</label>
    <label class="radio-inline"><input type="radio" name="optradio" id="sp" onclick="if(this.checked){sp()}">Сепия</label>

    <br>
    <br>
    <form method="POST" action="{{ url_for('crop') }}">
        <input type="hidden" value="{{ filename }}" name="filename" id="filename">
        <!-- <input type="hidden" value="0" name="x1" id="x1">
        <input type="hidden" value="0" name="y1" id="y1">
        <input type="hidden" value="0" name="w" id="w">
        <input type="hidden" value="0" name="h" id="h"> -->
        <input type="hidden" value="" name="params" id="params">
        <input type="hidden" value="" name="option" id="option">
        <input type="submit" value="Применить фильтр" class="btn btn-primary">
    </form>

</div>
{% endif %}
<script type="text/javascript">
    $(document).ready(function () {
        $('img#photo').selectAreas({
            allowEdit: true,
            allowMove: true,
            allowResize: true,
            allowSelect: true,
            allowDelete: true,
            allowNudge: true,
            minSize: [10, 10],
            onChanged: showAreas
        })
    });

    function bright() {
        document.getElementById('option').value = 'bright'
    }
    function dark() {
        document.getElementById('option').value = 'dark'
    }
    function neg() {
        document.getElementById('option').value = 'neg'
    }
    function wb() {
        document.getElementById('option').value = 'wb'
    }
    function gs() {
        document.getElementById('option').value = 'gs'
    }
    function sp() {
        document.getElementById('option').value = 'sp'
    }

    function showAreas() {
        var areas = $('img#photo').selectAreas('areas');
        console.log(displayAreas(areas))
        document.getElementById('params').value = displayAreas(areas);
    }
    function areaToString(area) {
        return area.x + ', ' + area.y + ', ' + sum(area.width, area.x) + ', ' + sum(area.height, area.y) + '&'
    }

    function displayAreas(areas) {
        var text = "";
        $.each(areas, function (id, area) {
            text += areaToString(area);
        });
        return text;
    };

    function sum() {
        var result = 0;

        for (var i = 0; i < arguments.length; i++) {
            result += arguments[i];
        }

        return result;
    }
</script>
{% endblock %}